html, body{
    position:relative;
    padding: 0; margin: 0;
    overflow: hidden;
    width:100%;
    height:100%;
    background:#E5E8EF;
    font-family: 'Open Sans', sans-serif;
}
#earth_div{
    top: 0; right: 0; bottom: 0; left: 0; 
    position: absolute !important;
    z-index:0;
}
#musicBox{
    position:absolute;
    z-index:2;
    background:rgba(99, 116, 154, 0.75);
    border:solid #63749A 2px;
    color:#EAF5EA;
    margin:20px 40px;
    height:6em;
    padding:1em;

}
#audio{
    margin:10px 0;
}
#albumArt{
    float:left;
}
#songInfo{
    float:left;
    margin:10px;
}
#mainBox{
    float:left;
}
#mainBox.notPlaying{
    font-size:2em;
    height:100%;
    margin-top:.6em;
}
#extender{
    text-decoration:none;
    float:left;
    font-size:3em;
    border-left:#EAF5EA solid 1px;
    margin-top:.2em;
    margin-left:.5em;
    padding:0 .2em;
    vertical-align: center;
    cursor:pointer;
    z-index:4;
}
#hiddenOptions{
    float:left;
    width:0;
    color:rgba(234, 245, 234, 0);
    margin: 10px;
    visibility:none;
    transition:all  1s ease;
}
#hiddenOptions.shown{
    width:40em;
    color:rgba(234, 245, 234, 1);
    visibility:visible;
}
#sortSelector{
    width:15em;
    float:left;
    overflow:hidden;
}
.my-select{
    width:20em;
    background-color:transparent;
    color:#fff;
    border:0;
    border-bottom:solid 2px #fff;
    cursor:pointer;
}
.my-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #FFF;
}
.hiddenOpt{
    display:inline-block;
    float:left;
    width:5em;
}

.icons{
    cursor:pointer;
    font-size:1.5em;
}

input{
    text-decoration:underline;
    border-bottom:2px solid #fff;
}
    